<div class="places">
    <div class="map">

        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="7">


            <agm-marker [latitude]="lat" [longitude]="lng">

                <agm-marker *ngFor="let p of places"
                            [latitude]="p.lat"
                            [longitude]="p.long">

                    <agm-info-window>


                        <p>{{p.name}}</p>
                        <p>{{p.des}}</p>
                        <p>{{p.address}}</p>

                    </agm-info-window>

                </agm-marker>


                <agm-info-window>

                    <p>You are Here</p>
                </agm-info-window>

            </agm-marker>

        </agm-map>
    </div>

    <ion-searchbar #searchbar placeholder="Search places" showCancelButton (ionInput)="filterList($event)" (ionCancel)="close()" cancelButtonText="close"></ion-searchbar>
    <ion-list>
        <ion-card *ngFor="let result of resultList" color="light">

            <ion-item color="medium">
                {{ result.name }}
            </ion-item>
            <ion-card-content>
                <p id="name">{{result.name}}</p>
                <p>{{result.address}}</p>
                <p> {{result.des}}</p>
            </ion-card-content>

            </ion-card>
</ion-list>
</div>
