<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Educational Resources</ion-card-title>
  </ion-card-header>
    <ion-card-content>
    Here you will learn about the different bacteria we are testing for!
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Escherichia Coli (E.coli)</ion-label>

    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  <ion-card-content>
    Effects of Bacteria: Pneumonia, Urinary Tract Infections, and Diarrhea
    </ion-card-content>
    <ion-card-content>

    Spread of Bacteria: Raw meat, uncleaned materials, unclean hands after using the restroom or changing of diaper
    </ion-card-content>
<ion-card-content>
    How long does it survive?: E.coli lifespan is a few hours to a day, once it becomes a virus then its lifespan is days to weeks
  </ion-card-content>
  <ion-card-content>
    Prevention Methods: Washing hands, and cooking food properly
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Staphylococcus Species</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  <ion-card-content>
    Effects of Bacteria: Strep Throat,Scarlet Fever,Impetigo,Cellulitis, Streptococcal Toxic Shock Syndrome
</ion-card-content>
    <ion-card-content>

    Spread of Bacteria: Direct contact with nose and throat discharge
    </ion-card-content>
<ion-card-content>
    How long does it survive?: Survives on a dry surface for 3 days to 6.5 months
  </ion-card-content>
  <ion-card-content>
    Prevention Methods: Washing hands, and practicing good hygiene methods
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Staphylococcus Species</ion-label>

    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  <ion-card-content>
    Effects of Bacteria: Skin rash, infected organs, heart valve infections, bone infections (life time span)

    </ion-card-content>
    <ion-card-content>

    Spread of Bacteria: Direct contact with an infected person and/or object
    </ion-card-content>
<ion-card-content>
    How long does it survive?: 24hrs or more
    </ion-card-content>
  <ion-card-content>
    Prevention Methods: Washing hands, practicing good hygiene,keeping cuts and straps clean away from others
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-item href="#" class="ion-activated">
    <ion-icon name="wifi" slot="start"></ion-icon>
    <ion-label>BACK TO DASHBOARD</ion-label>
  </ion-item>

  <ion-item href="#">
    <ion-icon name="wine" slot="start"></ion-icon>
    <ion-label>Card Link Item 2</ion-label>
  </ion-item>

  <ion-item class="ion-activated">
    <ion-icon name="warning" slot="start"></ion-icon>
    <ion-label>Card Button Item 1 activated</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="walk" slot="start"></ion-icon>
    <ion-label>Card Button Item 2</ion-label>
  </ion-item>
</ion-card>
