navtabs{
    --ion-background-color: linear-gradient(to right, #... 0%, #... 100%) !important;
}
.ion-color-vibrant {
    --ion-color-base: #ff0080;
    --ion-color-base-rgb: 255, 0, 128;
    --ion-color-shade: #b200ff;
    --ion-color-base-rgb:rgba(239, 155, 227, 0.82)
}
