<ion-header>
    <ion-toolbar>
      <ion-title>
        Education
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-sm size-lg="4" offset-lg="2">
                <ion-card button="true" a [routerLink]="'./covid19tracker'">
                    <ion-card-header>
                        <img src="https://img1.wsimg.com/isteam/ip/319757b2-bcb4-4919-8e84-f07ac73b2d8c/COVID-19-1-800x500-1.jpg/:/cr=t:17.54%25,l:9.42%25,w:81.17%25,h:64.94%25/rs=w:582,h:291,cg:true,m">
                        <ion-card-title>Coronavirus Tracker</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        See the latest COVID-19 data around the world in real time.
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-sm size-lg="4">
                <ion-card button="true" a [routerLink]="'./educationaresources'">
                    <ion-card-header>
                        <img src="https://img1.wsimg.com/isteam/ip/319757b2-bcb4-4919-8e84-f07ac73b2d8c/kJjwg4h2ULvghvsHFT62HU.jpg/:/rs=w:582,h:291,cg:true,m/cr=w:582,h:291">
                        <ion-card-title>E. Coli</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Commonly found in the intestines of people and animals.
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" size-sm size-lg="4" offset-lg="2">
                <ion-card button="true" a [routerLink]="'./bacteria2'">
                    <ion-card-header>
                        <img src="assets/images/staph.png">
                        <ion-card-title>Staphylococcus</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Commonly found on people's skin.
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-sm size-lg="4">
                <ion-card button="true" a [routerLink]="'./bacteria3'">
                    <ion-card-header>
                        <img src="https://img1.wsimg.com/isteam/ip/319757b2-bcb4-4919-8e84-f07ac73b2d8c/groupb-strep.jpg/:/rs=w:582,h:291,cg:true,m/cr=w:582,h:291">
                        <ion-card-title>Streptococcus</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Can cause many different infections.
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>