navtabs{
    --ion-background-color: linear-gradient(to right, #... 0%, #... 100%) !important;
}
.ion-color-vibrant {                                    //Make a new color name and define it's properties
    --ion-color-base: #62e40b;
    --ion-color-base-rgb: 255, 0, 128;
    --ion-color-shade: #ffae00;
    --ion-color-base-rgb:rgba(239, 155, 227, 0.82)
}


#staph {
    transform: rotate(180deg);
}