<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Safe Spaces</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-menu side="start" content-id="main-content">
        <ion-content>
            <app-login></app-login>
        </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content"></div>
    
    <div class="places">
        <div *ngIf="isAdmin"></div>
            <app-places-form></app-places-form>
            <div class="columns" *ngIf="places$ | async as places">
                <div class="places-list">
                    <app-places-list [places]="places"></app-places-list>
                </div>
                <div class="map">
                    <app-places-map [places]="places"></app-places-map>
                </div>
            </div>
        </div>
</ion-content>