<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title >
            SafeSpaces
            <ion-icon name="earth-sharp">
            </ion-icon>
            
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content color="secondary">
    <ion-menu side="start" content-id="main-content">
        <ion-content>
            <app-login></app-login>
        </ion-content>
    </ion-menu>



    <div class="ion-page" id="main-content"></div>
    
    <div class="places">
       
            <app-places-form *ngIf="(user | async)?.isAdmin"></app-places-form>
            <div class="columns" *ngIf="places$ | async as places">

                <div class="places-list">
                    <app-places-list [places]="places" *ngIf="(user | async)?.isAdmin"></app-places-list>
                </div>
                
                <div class="map">
                    <app-places-map [places]="places"></app-places-map>
                </div>
            </div>
        </div>
</ion-content>