<ion-header>
  <ion-toolbar>
    <ion-title>
      FORMS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="suggestionForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="10" offset-sm="1" size-lg="6" offset-lg="3">
          <ion-list lines="full">
            <p>Do you have a place you want us to test next? Let us know!</p>
            <ion-item>
              <ion-label position="floating" class="label">Name of Business*</ion-label>
              <ion-input type="text" formControlName="suggestionFormName" [(ngModel)]="itemName"></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label position="floating" class="label">Type*</ion-label>
              <ion-select class="label" interface="popover" formControlName="suggestionFormType" [(ngModel)]="itemType">
                <ion-select-option value="restaurant">Restaurant</ion-select-option>
                <ion-select-option value="grocerystore">Grocery Store</ion-select-option>
                <ion-select-option value="pharmacy">Pharmacy</ion-select-option>
                <ion-select-option value="gasstation">Gas Station</ion-select-option>
                <ion-select-option value="other">Other</ion-select-option>
              </ion-select>
            </ion-item>
      
            <ion-item>
              <ion-label position="stacked" class="label">Address*</ion-label>
              <ion-input placeholder="Street" formControlName="suggestionFormStreet" [(ngModel)]="itemStreet"></ion-input>
              <ion-input placeholder="City" formControlName="suggestionFormCity" [(ngModel)]="itemCity"></ion-input>
              <ion-input placeholder="State" formControlName="suggestionFormState" [(ngModel)]="itemState"></ion-input>
              <ion-input placeholder="Zip Code" type="number" formControlName="suggestionFormZipCode" [(ngModel)]="itemZipCode"></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label position="stacked" class="label">Comments</ion-label>
              <ion-textarea placeholder="Optional" rows="3" formControlName="suggestionFormComments" [(ngModel)]="itemComments"></ion-textarea>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size-sm="4" offset-sm="4" size-lg="2" offset-lg="5">
          <div class="ion-padding-horizontal">
            <ion-button expand="block" type="submit" [disabled]="suggestionForm.invalid" (click)="onSubmit()" (click)="clearForm()">Send</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
