* {
    font-family: 'Cantarell', 'Arial', sans-serif;
}

img {
    border-radius: 50%;
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

h5 {
    text-align: center;
}

p {
    text-align: center;
    margin: 0;
}

ion-note {
    position: absolute;
    bottom: 30px;
    text-align: center;
    margin-left: 45px;
}