<ion-header [translucent]="false">

    <ion-toolbar color="primary">
        <ion-buttons  slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>

            Coronavirus Tracker

        </ion-title>

    </ion-toolbar>

</ion-header>



<ion-content [fullscreen]="false" color="secondary">
    <ion-content color="secondary">
        <ion-searchbar color="secondary"></ion-searchbar>

        <ion-content color="secondary">
            <ion-list color="secondary">

                <ion-card *ngFor="let country of countries" color="primary">

                    <ion-item color="primary">

                        <ion-label align="center">{{country.Country}}</ion-label>

                    </ion-item>



                    <ion-card-content color="secondary">

                        <table color="secondary">

                            <tr color="secondary">

                                <td colspan="2">
                                    Total Cases : <ion-text color="">{{country?.TotalConfirmed | number}}</ion-text>

                                </td>

                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>

                                <td>
                                    New Cases : <ion-text color="warning">{{country?.NewConfirmed | number}}</ion-text>

                                </td>

                            </tr>

                            <tr>

                                <td colspan="2">
                                    Total Recovered : <ion-text color="success">{{country?.TotalRecovered | number}}</ion-text>

                                </td>

                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>

                                <td>
                                    New Recovered : <ion-text color="success">{{country?.NewRecovered | number}}</ion-text>

                                </td>

                            </tr>

                            <tr>

                                <td colspan="2">
                                    Total Deaths : <ion-text color="danger">{{country?.TotalDeaths | number}}</ion-text>

                                </td>

                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>

                                <td>
                                    New Deaths : <ion-text color="danger">
                                        {{country?.NewDeaths | number}}

                                    </ion-text>

                                </td>

                            </tr>

                        </table>

                    </ion-card-content>

                </ion-card>

            </ion-list>
        </ion-content>
    </ion-content>
</ion-content>
